@import "../../styles/variables";

.__details{
  width: 100%;
}

.__title {
  border-radius: 7.5px;
  background-color: $primary-color;
  color: $white-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 47px;
  font-size: 24px;
  padding: 0 18px;

  & img {
    width: 24px;
  }
}

.__description {
  background-color: $secondary-color;
  height: 80%;
  font-weight: 400;
  font-size: 24px;
  padding: 18px ;
  border-radius: 7.5px;
}

