@import "../../styles/variables";

.__lightbox {
    position: relative;
    height: 415px;

    & .__button {
      position: absolute;
      top: 50%;
      transform: translateY(-74%);
      margin: 24px;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    & .__leftButton {
      left: 0;
    }

    & .__rightButton {
      right: 0;
    }

    & .__image {
      height: 415px;
      width: 100%;
      object-fit: cover;
      border-radius: $radius;
    }

    & .__number {
      position: absolute;
      font-size: 18px;
      bottom: 25px;
      left: 50%;
      color: $white-color;

    }
}

@media all and (max-width: 1000px){
  .__lightbox{
    & .__number{
      display: none;
    }
  }
}

@media all and (max-width: 654px){
  .__lightbox{
    & .__button{
      & img{
        height: 30px;
      }
    }
  }
}
