@import "../../styles/variables";

.__cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px;
  margin: 0 100px 50px 100px;
  border-radius: $radius;
  column-gap: 2%;
  background-color: $secondary-color;
}

@media all and (max-width: 1023px){
  .__cardContainer{
    margin: 20px;
    padding: 0;
    background: none;
  }
}
