@import "../../styles/variables";

.__cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px;
  margin: 0 100px;
  border-radius: 25px;
  gap: 50px 60px;
  background-color: $secondary-color;
}
