@import "../../styles/variables";

.__footer {
  width: 100%;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $black-color;

  .__logoKasa {
    height: 40px;
  }

  p {
    color: white;
    padding-top: 34px;
  }

}
