@import "../../styles/variables";

.__pic {
    height: 223px;
    width: 100%;
    border-radius: $radius;
    object-fit: cover;
    filter: brightness(70%);
}

.__banner {
    margin: 0 100px 31px 100px;
    position: relative;
    text-align: center;
}

.__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: $white-color;
}